{
  "openapi": "3.1.0",
  "info": {
    "title": "CM5Markets Trading API",
    "description": "API de trading pour le courtier CM5Markets. Toutes les requêtes utilisent la méthode POST avec authentification par clés API.",
    "license": {
      "name": "MIT"
    },
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api.cm5-markets.com/v3"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/balance": {
      "post": {
        "description": "Récupère le solde de votre compte de trading (Réel ou Démo)",
        "requestBody": {
          "description": "Requête pour obtenir le solde",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Solde récupéré avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de requête",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trade-open": {
      "post": {
        "description": "Récupère l'historique des trades actuellement ouverts",
        "requestBody": {
          "description": "Requête pour obtenir les trades ouverts",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TradeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Trades ouverts récupérés avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de requête",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pending-orders": {
      "post": {
        "description": "Récupère la liste des ordres en attente d'exécution",
        "requestBody": {
          "description": "Requête pour obtenir les ordres en attente",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ordres en attente récupérés avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de requête",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/trade-history": {
      "post": {
        "description": "Récupère l'historique complet des trades fermés avec possibilité de filtrer par nombre ou par période",
        "requestBody": {
          "description": "Requête pour obtenir l'historique des trades",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TradeHistoryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Historique récupéré avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de requête",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/algorithme": {
      "post": {
        "description": "Permet d'ouvrir, modifier ou fermer des positions de trading de manière algorithmique. Supporte trois types d'opérations: close-advanced (fermeture), activation (ouverture), update (modification)",
        "requestBody": {
          "description": "Requête pour gérer les positions",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlgorithmeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Opération exécutée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erreur de requête",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BalanceRequest": {
        "required": [
          "api-key",
          "api-secret",
          "object",
          "get"
        ],
        "type": "object",
        "properties": {
          "api-key": {
            "description": "Votre clé API CM5Markets",
            "type": "string"
          },
          "api-secret": {
            "description": "Votre clé secrète API CM5Markets",
            "type": "string"
          },
          "object": {
            "description": "Type d'objet demandé",
            "type": "string"
          },
          "get": {
            "description": "Récupérer tous les soldes",
            "type": "string"
          }
        }
      },
      "TradeRequest": {
        "required": [
          "api-key",
          "api-secret",
          "object",
          "limit",
          "type"
        ],
        "type": "object",
        "properties": {
          "api-key": {
            "description": "Votre clé API CM5Markets",
            "type": "string"
          },
          "api-secret": {
            "description": "Votre clé secrète API CM5Markets",
            "type": "string"
          },
          "object": {
            "description": "Type d'objet demandé",
            "type": "string"
          },
          "limit": {
            "description": "Limite de résultats (All ou un nombre)",
            "type": "string"
          },
          "type": {
            "description": "Type de compte (Réel ou Démo)",
            "type": "string"
          }
        }
      },
      "OrderRequest": {
        "required": [
          "api-key",
          "api-secret",
          "object",
          "limit",
          "type"
        ],
        "type": "object",
        "properties": {
          "api-key": {
            "description": "Votre clé API CM5Markets",
            "type": "string"
          },
          "api-secret": {
            "description": "Votre clé secrète API CM5Markets",
            "type": "string"
          },
          "object": {
            "description": "Type d'objet demandé",
            "type": "string"
          },
          "limit": {
            "description": "Limite de résultats (All ou un nombre)",
            "type": "string"
          },
          "type": {
            "description": "Type de compte (Réel ou Démo)",
            "type": "string"
          }
        }
      },
      "TradeHistoryRequest": {
        "required": [
          "api-key",
          "api-secret",
          "object",
          "limit",
          "type"
        ],
        "type": "object",
        "properties": {
          "api-key": {
            "description": "Votre clé API CM5Markets",
            "type": "string"
          },
          "api-secret": {
            "description": "Votre clé secrète API CM5Markets",
            "type": "string"
          },
          "object": {
            "description": "Type d'objet demandé",
            "type": "string"
          },
          "limit": {
            "description": "Nombre de trades ou période (ex: 100 ou 01/09/2025 - 17/09/2025)",
            "type": "string"
          },
          "type": {
            "description": "Type de compte (Réel ou Démo)",
            "type": "string"
          }
        }
      },
      "AlgorithmeRequest": {
        "required": [
          "api-key",
          "api-secret",
          "object"
        ],
        "type": "object",
        "properties": {
          "api-key": {
            "description": "Votre clé API CM5Markets",
            "type": "string"
          },
          "api-secret": {
            "description": "Votre clé secrète API CM5Markets",
            "type": "string"
          },
          "object": {
            "description": "Action à effectuer: close-advanced (fermer), activation (ouvrir), update (modifier)",
            "type": "string"
          },
          "type-close": {
            "description": "Pour close-advanced: perte (perdants), profit (gagnants), all (toutes)",
            "type": "string"
          },
          "type": {
            "description": "Pour activation: Type de compte (Réel ou Démo)",
            "type": "string"
          },
          "lot": {
            "description": "Pour activation: Taille de la position en lots",
            "type": "number",
            "format": "float"
          },
          "mode": {
            "description": "Pour activation: Mode d'exécution (Buy, Sell, Buy Limit, Sell Limit, Buy Stop, Sell Stop)",
            "type": "string"
          },
          "symbol": {
            "description": "Pour activation: Symbole de trading (ex: EURUSD, USDJPY)",
            "type": "string"
          },
          "prix": {
            "description": "Pour activation: Prix d'entrée (requis pour ordres Limit et Stop)",
            "type": "number",
            "format": "float"
          },
          "tp": {
            "description": "Take Profit (0 pour aucun TP)",
            "type": "number",
            "format": "float"
          },
          "sl": {
            "description": "Stop Loss (0 pour aucun SL)",
            "type": "number",
            "format": "float"
          },
          "id": {
            "description": "Pour update: ID de la position à modifier",
            "type": "string"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}